* {
    font-family: Georgia, "Trebuchet MS", "Tahoma", sans-serif;
    background-color:rgb(205, 197, 197);
}

h1 {
    color:rgb(167,130,75);
}

a {
    color:rgb(50,50,50);
}

.home-heading {
    text-align: center;
}

.odin-logo {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-links {
    text-align:center;
}

.home-links-list {
    display: inline-block;
    text-align: left;
}

