* {
    font-family: Georgia, "Trebuchet MS", "Tahoma", sans-serif;
    line-height: 1.5;
}

body {
    background-color: white;
}

.wrapper {
    border: 5px double rgb(227,179,103);
    border-radius: 1%;
    margin: 150px;
    background-color: rgb(227,179,103);
}

.wrapper .content {
    background-color: rgb(238,218,197);
    border-radius: 2%;
}

.wrapper.recipe {
    margin:5px
}  

a {
    color:rgb(50,50,50);
    font-size: x-large;
}

.home-heading {
    text-align: center;
}

.odin-logo {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(231,231,231);
}

.home-links {
    text-align:center;
}

.home-links-list {
    display: inline-block;
    text-align: left;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: overline;
}

h4 {
    text-decoration: overline;
}

.recipeimg {
    height: auto;
    width: 500px;
}