* {
    font-family: Georgia, "Trebuchet MS", "Tahoma", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

.wrapper  {
    height: 1000px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    border: 4px double green;
    border-radius: 1%;
}

.wrapper ul li {
    list-style: none;
    display: inline-block;
    height: auto;
    width: 400px;
    margin-bottom: 40px;
    margin-left: -40px;
}


.wrapper ul a img {
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 30px;
}

.wrapper img {
    display: inline-block;
    height: auto;
    width: 100px;
    margin-top: 0px;
    margin-right: 270px;
    margin-bottom: -80px;
    padding:28px;
}

.wrapper h1 {
    margin-top: 0;
}

.home-heading {
    margin-left: 190px;
    width: 400px;
    height: 50px;
    border: 2px dotted green;
    border-radius: 1%;
}

.recipe-title {
    height:17px;
    width: 250px;
    margin-left: 230px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: rgb(186, 127, 17);
    text-decoration: underline;
}


